@import "./variables.scss";
@import "./breakpoints.scss";

.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(37, 150, 190);
  background: radial-gradient(circle, rgba(37, 150, 190, 1) 0%, rgba(89, 89, 170, 0.8995973389355743) 48%, rgba(37, 150, 190, 1) 100%);
  padding: 50px;
  width: 100vw;
  height: 100vh;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-password-content {

  height: 40%;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-top: 50px;

    @include lg {
      width: 60%;
    }

    @include mm {
      width: 80%;
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

     

    }

    a {
      text-decoration: none;
      color: white;
      font-size: 17px;
      font-weight: 600;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: white;
      font-size: 13px;
      text-align: center;
    }
  }
}

.send-link-button {
  background-color: #2596be; // Example color
  color: white; // Text color
  padding: 10px 20px; // Padding for the button
  border: none; // Remove default border
  border-radius: 5px; // Rounded corners
  cursor: pointer; // Pointer cursor on hover
  transition: background-color 0.3s; // Smooth transition
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
margin-top: 20px;
  &:hover {
    background-color: #1a7a9c; // Darker shade on hover
  }
}
.input1 {
  width: 100%;
  padding: 7px 15px;
  background-color: transparent;
  outline: none;
  text-align: center;
  color: rgb(109, 106, 106);
  border: none;

  &::placeholder {
    color: rgb(83, 80, 80);
  }
}
h1{display: flex;
justify-content: center;
color:rgb(28, 25, 56);}
h4{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}