@import "./variables.scss";
@import "./breakpoints.scss";

.login1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(37, 150, 190);
  background: radial-gradient(circle, rgba(37, 150, 190, 1) 0%, rgba(89, 89, 170, 0.8995973389355743) 48%, rgba(37, 150, 190, 1) 100%);
  padding: 50px 50px 50px 50px;
  width: 100vw;
  height: 100vh;


}

.input-container {
  border-radius: 5px;
  border: 2px solid #2596be;
  display: flex;
  align-items: center;
  /* Vertically center the icon and input */
}

.input-container .icon {
  padding: 10px;
  font-size: 50px;
  text-align: center;
}

.login_image {
  background: url("../../public/assets/login.jpg") center;
  background-size: cover;


}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
  color: #2596be;
  font-size: 50px;

}

h4 {
  font-size: x-small;
  color: #080808;
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85%;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  /* Add a soft shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition for effects */

  &:hover {
    transform: translateY(-10px);
    /* Slightly lift the container */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    /* Stronger shadow on hover */
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-top: 50px;



    @include lg {
      width: 60%;
    }

    @include mm {
      width: 80%;
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      input {
        width: 100%;
        padding: 7px 15px;
        background-color: transparent;
        outline: none;
        text-align: center;
        color: rgb(109, 106, 106);
        border: none;

        &::placeholder {
          color: rgb(83, 80, 80);
        }
      }

      button {
        margin-top: 15px;
        background: rgb(37, 150, 190);
        @include buttonStyle;
        width: 50%;

        &:hover {
          box-shadow: 0 0 10px 3px rgba(255, 255, 255);
        }
      }
    }

    &_google {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      color: rgb(7, 6, 6);
      font-size: 13px;
      
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: white;
      font-size: 13px;
      text-align: center;
    }
  }
}

