@import "./variables.scss";
@import "./breakpoints.scss";
.register_image {
  background: url("../../public/assets/register.jpg") center;
  background-size: cover;

}
.register0{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(37,150,190);
background: radial-gradient(circle, rgba(37,150,190,1) 0%, rgba(89,89,170,0.8995973389355743) 48%, rgba(37,150,190,1) 100%);
  padding: 50px 50px 50px 50px;
  width: 100vw;
  height: 120vh;


}
h1 {
  font-family: 'Roboto', sans-serif;
  color: #2596be;
  font-size: 50px;

}
.register {
   display: grid;
  grid-template-columns: 1fr 1fr;
  
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  /* Add a soft shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition for effects */

  &:hover {
    transform: translateY(-10px);
    /* Slightly lift the container */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    padding: 40px;
    background-color: rgba(248, 243, 243, 0.979);
    


    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;
      input {
        width: 100%;
        padding: 7px 15px;
        background-color: transparent;
        border: none;
       
        outline: none;
        text-align: center;
        color: rgb(247, 242, 242);

        input:not(:placeholder-shown):focus {
          background: transparent; /* or background: none; */
        }

        &::placeholder {
          color: rgb(100, 97, 97);
        }
      }
      .upload-container img {
        background: black;
        
      }
      
      .upload-container p {
        color: rgb(100, 97, 97);
      }
      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
        cursor: pointer;
        
        font-size: 14px;

        img {
          width: 25px;
        }
      }

      button {
        margin-top: 15px;

        @include buttonStyle;
        width: 50%;

        &:hover {
          box-shadow: 0 0 10px 3px rgba(255, 255, 255);
        }
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 13px;
      margin-top: 10px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
